// USER VARIABLES SECTION
$accentColor: #0b7572; // Accent Color
$accentSecondColor: #ffce50; // Accent Second Color
$accentThirdColor: #e9e9ec; // Accent Third Color
$mainColor: #ffffff; // Body Background Color
$fontSize: 10px; // Body Font Size
$textColor: #363738; // Text Color
$textSecondColor: #6b6b6c; // Text Color
$lineHeight: 1.65; // Document Line Height
$userFont: Exo2, sans-serif; // User Font Family
$userAltFont: PTSans, sans-serif; // User Alt Font Family
$systemFont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$maxWidth: 1440;
$maxWidthContainer: 1280;

// ZEROING SECTION
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  scrollbar-color: $accentColor $accentSecondColor;
  scrollbar-width: thin;

  &::before,
  &::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #363130 #f2f2f2;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      cursor: pointer;
      width: 0.5rem;
      background: #f2f2f2;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      background: #363130;

      border-radius: 0.1rem;
      -webkit-border-radius: 0.1rem;
      -moz-border-radius: 0.1rem;
      -ms-border-radius: 0.1rem;
      -o-border-radius: 0.1rem;
      transition: 0.2s ease-in-out;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -ms-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
    }

    &::-webkit-scrollbar-thumb:hover {
      cursor: pointer;
      background: #878686;
    }
  }

  &::-webkit-scrollbar {
    cursor: pointer;
    width: 0.5rem;
    background: #f2f2f2;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: $textSecondColor;

    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -ms-border-radius: 0.1rem;
    -o-border-radius: 0.1rem;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
  }

  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: $textColor;
  }
}

*:focus {
  outline: 0;
  // opacity: 0.5;
  // @include _transition(all, 0.5s);
}

// GENERAL DOCUMENT STYLES
html {
  font-size: $fontSize;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  height: 100%;

  @media only screen and(max-width:1024px) {
    &::-webkit-scrollbar {
      display: none;
      cursor: pointer;
      width: 0rem;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
      width: 0;
      background: transparent;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: transparent;
    }
  }
}

body {
  font-family: $userFont;
  font-size: $fontSize;
  line-height: $lineHeight;
  background: $mainColor;
  color: $textColor;
  min-width: 320px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow-x: hidden;

  &.--fixed {
    width: 100%;
    overflow: hidden;
  }
}

@-ms-viewport {
  width: device-width;
}

::placeholder {
  color: $textColor;
}

::selection {
  background-color: $accentColor;
  color: #fff;
}

input,
textarea {
  @include _transition(all, 0.5s);
  @extend .p;
  // @include _borderRadius(5px);
  @include _borderRadius(0);
  padding: 10px;
  // height: 35px;
  border: none;
  // background: #060b0d;
  color: $textColor;

  &:focus:required:invalid {
    border-color: rgb(85, 0, 0);
  }

  &:required:valid {
    border-color: rgb(14, 75, 14);
  }

  &::-webkit-input-placeholder {
    @include _transition(all, 0.2s);

    transform-origin: 100% 0;
  }

  &::-moz-placeholder {
    transform-origin: 100% 0;
  }

  &:-ms-input-placeholder {
    @include _transition(all, 0.2s);
    transform-origin: 100% 0;
  }

  &::-ms-input-placeholder {
    @include _transition(all, 0.2s);
    transform-origin: 100% 0;
  }

  &::placeholder {
    @include _transition(all, 0.2s);
    transform-origin: 100% 0;
  }

  &:active,
  &:focus {
    &::-webkit-input-placeholder {
      opacity: 0;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }

    &::-moz-placeholder {
      opacity: 0;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }

    &:-ms-input-placeholder {
      opacity: 0;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }

    &::-ms-input-placeholder {
      opacity: 0;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }

    &::placeholder {
      opacity: 0;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }
  }
}

textarea {
  resize: none;
}

label {
  cursor: pointer;
}

input[type="button"],
input[type="submit"],
button {
  @extend .p;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

input,
textarea {
  @include _transition(all, 0.5s);
  @extend .p;
  @include _borderRadius(5px);
  padding: 10px;
  height: 35px;
  border: none;
  background: #060b0d;
  color: $textColor;
}

textarea {
  height: 150px;
}
footer,
header,
section,
.section {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1980px;
  margin: 0 auto;
  .--fixed & {
    // filter: blur(10px);
  }
}
section,
.section {
  @include adaptive(padding-top, 100, 75, 0);
}

.wrapper {
  width: calc(100% - 166px);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @media only screen and (min-width: 1920px) {
    max-width: $maxWidth + px;
  }

  @media only screen and (max-width: $maxWidth + px) {
    // max-width: $maxWidth + px;
    max-width: $maxWidthContainer + px;
  }
  @media only screen and (min-width: $maxWidthContainer + px) {
    width: 100%;
    max-width: $maxWidthContainer + px;
  }
  @media only screen and (max-width: $maxWidthContainer + px) {
    width: 100%;
    max-width: calc(100% - 140px);
  }

  @media only screen and (max-width: 1024px) {
    width: calc(100% - 80px);
    max-width: 100%;
  }

  @media only screen and (max-width: 600px) {
    width: calc(100% - 20px);
  }
}

.img {
  //.img--full
  &--fullW {
    width: 100%;
    height: auto;
  }
  // .img--center
  &--center {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  // .tab__container
  &__container {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  // .tab__content
  &__content {
    max-height: 0;
    overflow: hidden;
    @include _transition(all, 0.35s);

    &.--active {
      max-height: unset;
    }
  }

  // .tab__wrapper
  &__wrapper {
    opacity: 0;
    @include _transition(all, 0.35s);
    transform: translate(0, -100%);

    .--active > & {
      opacity: 1;
      transform: translate(0, 0%);
    }
  }
}

// .arrow
.arrow {
  position: relative;
  height: 10px;
  width: 10px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
  }

  &::before {
    left: -2.7px;
    transform: rotate(-45deg);
    background-color: $textSecondColor;
  }

  &::after {
    left: 2.7px;
    transform: rotate(45deg);
    background-color: $textSecondColor;
  }

  .open &::before,
  .active &::before {
    left: -2.7px;
    transform: rotate(45deg);
  }

  .open &::after,
  .active &::after {
    left: 2.7px;
    transform: rotate(-45deg);
  }

  // .arrow--menu
  &--menu {
    // transform: scale(1, -1);
  }
}

// .triangle
.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid $textColor;
  border-bottom: 0px solid transparent;
  @include _transition(all, 0.5s);

  .open &,
  .active & {
    border-top: 0px solid transparent;
    border-bottom: 10px solid $textColor;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: -10px;
  flex-wrap: wrap;
  width: 100%;

  @media only screen and (min-width: 800px) {
    margin: get-vw(-10px);
  }
}

.coll {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  margin: 10px;

  @media only screen and (min-width: 800px) {
    width: 100%;
    @include coll(2, 20px);
    margin: get-vw(10px);
  }
}

.btn {
  @include adaptive(max-width, 180, 180, 0);
  // @include _borderRadius(5px);
  @include _transition(all, 0.35s);
  line-height: 0;
  display: flex;
  padding: 5px;
  width: 100%;
  height: 35px;
  align-items: center;
  justify-content: center;
  background: $accentThirdColor;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::before,
  &::after {
    @include _transition(all, 0.35s);
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    left: 0;
  }

  span {
    position: absolute;
    @include _transition(all, 0.35s);
    display: block;
    background: rgba(255, 255, 255, 0.35);
    @include _borderRadius(50%);
    animation-name: fullSize;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &::before {
    background: $accentThirdColor;
    z-index: -1;
    width: 100%;
    top: 0;
  }

  &::after {
    // @include _borderRadius(5%);
    top: 50%;
    background: $accentSecondColor;
    z-index: -1;
    width: 0;

    transform: translate(0, -50%);
  }

  &:hover {
    // background: $accentSecondColor;

    &::after {
      // width: 400px;
      // height: 400px;
      // opacity: 1;
    }
  }
}

.bg {
  // .bg-element {

  &-element {
    display: inline-block;
    position: absolute;
    // @include _transition(all, 0.35s);
    @include _transition(all, 0.85s);

    // .bg-element__1
    &__1 {
      top: 0;
      right: 0;
      @include adaptive(width, 600, 175, 0);

      @include adaptive(height, 785, 755, 0);

      // transition-delay: 0.3s;
      .--fixed & {
        transform: translate(300px, 0px);
        opacity: 0;
      }
      @media only screen and (max-width: 1152px) {
        @include adaptive(width, 250, 80, 0);

        @include adaptive(height, 780, 785, 0);
      }
      @media only screen and (max-width: 800px) {
        @include adaptive(height, 780, 654, 0);
      }
      @media only screen and (min-width: 600px) {
      }
      @media only screen and (max-width: 600px) {
        width: 100%;
        @include adaptive(height, 785, 855, 0);
      }
    }
  }
}

.__green {
  background: $accentColor;
  color: $accentColor;
}

.link {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
  position: relative;
  font-weight: bold;
  z-index: 2;
  @include adaptive(padding-bottom, 10, 10, 0);
  @include _transition(all, 0.35s);
  * {
    @include _transition(all, 0.35s);
  }
  &::before,
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    transform-origin: top left;
    @include _transition(all, 0.35s);
  }
  &::before {
    background: $accentSecondColor;
  }
  &::after {
    background: $accentColor;
    transform: scale(0, 1);
  }
  &:hover {
    color: $accentColor;
    &::before {
      transform: scale(0, 1);
    }
    &::after {
      transform: scale(1, 1);
    }
  }
}

.t,
h {
  @for $i from 1 through 6 {
    &#{$i} {
      font-family: $userAltFont;
      margin: 0;
      padding: 0;
      line-height: 134%;
      position: relative;
      z-index: 1;
      font-weight: normal;
    }
  }

  &1 {
    @include adaptive(font-size, 52, 28, 0);
  }

  &2 {
    @include adaptive(font-size, 48, 28, 0);
  }

  &3 {
    @include adaptive(font-size, 40, 25, 0);
  }

  &4 {
    @include adaptive(font-size, 36, 22, 0);
  }

  &5 {
    @include adaptive(font-size, 28, 20, 0);
  }

  &6 {
    @include adaptive(font-size, 20, 18, 0);
  }
}

p,
a,
li,
.p,
label {
  line-height: 1.35;
  @include adaptive(font-size, 16, 15, 0);
}
