.markup {
  // @extend .wrapper;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include adaptive(grid-row-gap, 40, 20, 0);
  @include adaptive(grid-column-gap, 40, 20, 0);

  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  height: auto;
  // .markup-card {
  &-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    @include adaptive(padding, 25, 15, 0);
    @include _borderRadius(20px);
    flex-direction: column;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    position: relative;
    color: $textSecondColor;
    &.__verify {
      background: #3fe297;
      color: $mainColor;
    }
    // .markup-card__icon {
    &__icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      @include adaptive(top, 25, 15, 0);
      @include adaptive(left, 25, 15, 0);
      @include adaptive(width, 45, 35, 0);
      @include adaptive(height, 45, 35, 0);
      @include _borderRadius(50%);
      overflow: hidden;
      cursor: pointer;
      @include _transition(all, 0.35s);
      .__verify & {
        background: rgba(0, 0, 0, 0.23);
      }

      &::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.23);
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        @include _borderRadius(50%);
        z-index: 1;
        @include _transition(all, 0.35s);
        transform: scale(0);
        .__verify & {
          // opacity: 1;
        }
      }
      // .markup-card__icon-image {
      &-image {
        display: inline-block;
        @include adaptive(width, 20, 15, 0);
        @include adaptive(height, 20, 15, 0);
        @include _transition(all, 0.35s);
        z-index: 2;
        svg {
          @include _transition(all, 0.35s);

          width: 100%;
          height: 100%;
          path {
            @include _transition(all, 0.35s);
            fill: #71b2f1;
          }
        }
        .__verify & {
          svg {
            path {
              fill: $mainColor;
            }
          }
        }
      }
      &:hover {
        &::before {
          transform: scale(1);
        }
        .markup-card__icon-image {
          svg {
            path {
              fill: $mainColor;
            }
          }
        }
      }
      &.__clicked {
      }
    }
    // .markup-card__title {
    &__title {
      @include adaptive(margin-bottom, 20, 15, 0);
    }
    // .markup-card__subtitle {
    &__subtitle {
      @include adaptive(margin-bottom, 15, 10, 0);
      font-weight: bold;
    }
    // .markup-card__list {
    &__list {
      @include adaptive(margin-bottom, 20, 15, 0);
    }
    // .markup-card__item {
    &__item {
      text-align: right;
      @include adaptive(margin-bottom, 5, 2.5, 0);
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      &::before {
        content: "";
        display: inline-flex;
        @include adaptive(margin-left, 10, 5, 0);
        order: 2;
        @include adaptive(width, 11, 10, 0);
        @include adaptive(height, 11, 10, 0);
        @include _borderRadius(50%);
        border: 1px solid $textSecondColor;

        .__verify & {
          @include adaptive(width, 18, 15, 0);
          @include adaptive(height, 18, 15, 0);
          background-image: url("../img/icons/icon-checked.svg");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          border: none;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    // .markup-card__annotation {
    &__annotation {
      align-self: flex-end;
      margin-top: auto;
    }
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 100%);
  }
}
