// @import "../../node_modules/swiper/swiper.scss";
@import "./vendor/_normalize";
@import "./_mixin";
@import "./_config";
@import "./fonts";
@import "./keyframes";
@import "./_menu";
@import "./_modal";
@import "./_custom";
@import "./_list-style";
@import "./_header";
@import "./_footer";
@import "./_article";
@import "./top";
@import "./advantages";
@import "./preloader";
