//menu nav start

nav.menu-nav

  //menu start

  ul.menu
    include ./../mixins/menu-item.pug
    +menu-item('item-1','link-1')
    +menu-item('item-2','link-2')
    +menu-item('item-3','link-3')
    +menu-item('item-4','link-4')
    +menu-item('item-5','link-5')

  //menu end
//menu nav end