doctype html
html(lang="ru")

  //head start
  include ./includes/mixins/head
  +head("Высокопрочный крепеж, ответственное хранение - ООО ПДВ")
  //head end

  body.--fixed.__loading
    //preloader start
    include ./includes/parts/other/preloader
    //preloader end
    
    //header start
    include ./includes/parts/main/header
    //header end

    //page-main start
    main.main.page-main 
    
      .section
        //markup start
        .markup
          include ./includes/mixins/markup-card
          +markup-card(
            "Level 1",
            "Requirements",
            [
              ["Confirm E-mail"],
              ["Confirm phone number"],
              ["Enter personal details"]

            ],
            "Annual turnover - up to 2.500 EUR",
            "verify")
          +markup-card(
            "Level 2",
            "Requirements",
            [
              ["Upload photo ID"],
              ["Upload Utility Bill"]

            ],
            "Annual turnover - up to 30.000 EUR")
        //markup end
        

    //page-main end
    
    //footer start
    include ./includes/parts/main/footer
    //footer end

    //- include ./includes/parts/other/modal__form.pug
    //- include ./includes/parts/other/modal__img.pug
    include ./includes/parts/other/scripts.pug
