mixin tab__content(addClassContent,addClassWrapper)
  //tab__content start
  .tab__content(class=`${addClassContent}`)

    //tab__wrapper start
    .tab__wrapper(class=`${addClassWrapper}`)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur amet, dignissimos qui et libero dolore impedit inventore sit itaque voluptates tempora saepe dolorem expedita quo, consequuntur maiores praesentium, enim nam!
    //tab__wrapper end
  //tab__content end

